@import '../../vars.scss';
@import '../../font.scss';
@import '../../reset.scss';

.product {
    display: flex;
    width: 63%;
    gap: 30px;
    border: 5px solid $general-color;
    padding-top: 40px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    background: $card-back;
    position: relative;

    &__general {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        margin-left: 50px;
        padding-bottom: 20px;

        &>img {
            width: 100px;
            height: 100px;
            border: 2px solid $general-color;
        }

        &>div {
            width: 100px;
            text-align: center;
        }
    }

    &__radio {
        display: flex;
        gap: 20px;
        position: absolute;
        left: 500px;
        top: 70px;

        &>label>input {
            width: 30px;
            height: 30px;
        }

        &-edit {
            border: 2px solid $edit;
            background: $general-color;
        }

        &-cancel {
            background: $white;
            border: 2px solid $remove;
        }
    }
}

.opened {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.error {
    border: 2px solid $remove;
}

.comment {
    &__content>p>span {
        display: block;
        font-size: 11px;
    }
}

.deleting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $card-back;
    border: 3px solid $secondary;

    &__btn {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        &-yes {
            background: $white;
            border: 2px solid $remove;
        }
    }
}